.content-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  img {
    margin-bottom: 1rem;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
  }
  &__button {
    background-color: #484F59;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-top: auto;
    padding: 0.75rem 3rem;
    &:hover {
      color: #fff;
      background-color: darken(#484F59, 10%);
      text-decoration: none;
    }
  }
}
