@font-face {
  font-family: arsMaquetteProblack;
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebblack.eot);
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebblack.eot?#iefix) format("embedded-opentype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebblack.woff) format("woff"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebblack.ttf) format("truetype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebblack.svg#ars_maquette_web_blackregular) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: arsMaquetteProblackItalic;
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebblack-italic.eot);
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebblack-italic.eot?#iefix) format("embedded-opentype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebblack-italic.woff) format("woff"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebblack-italic.ttf) format("truetype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebblack-italic.svg#ars_maquette_web_blackitalic) format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: arsMaquetteProbold;
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone-bold.eot);
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone-bold.eot?#iefix) format("embedded-opentype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone-bold.woff) format("woff"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone-bold.ttf) format("truetype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone-bold.svg#ars_maquette_web_onebold) format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: arsMaquetteProboldItalic;
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone-bolditalic.eot);
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone-bolditalic.eot?#iefix) format("embedded-opentype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone-bolditalic.woff) format("woff"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone-bolditalic.ttf) format("truetype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone-bolditalic.svg#ars_maquette_web_oneBdIt) format("svg");
  font-weight: 700;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: arsMaquetteProlight;
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo.eot);
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo.eot?#iefix) format("embedded-opentype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo.woff) format("woff"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo.ttf) format("truetype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo.svg#ars_maquette_web_tworegular) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: arsMaquetteProlightItalic;
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo-italic.eot);
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo-italic.eot?#iefix) format("embedded-opentype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo-italic.woff) format("woff"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo-italic.ttf) format("truetype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo-italic.svg#ars_maquette_web_twoitalic) format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: arsMaquettePromedium;
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo-bold.eot);
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo-bold.eot?#iefix) format("embedded-opentype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo-bold.woff) format("woff"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo-bold.ttf) format("truetype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo-bold.svg#ars_maquette_web_twobold) format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: arsMaquettePromediumItalic;
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo-boldital.eot);
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo-boldital.eot?#iefix) format("embedded-opentype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo-boldital.woff) format("woff"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo-boldital.ttf) format("truetype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebtwo-boldital.svg#ars_maquette_web_twoBdIt) format("svg");
  font-weight: 700;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: arsMaquetteProregular;
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone.eot);
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone.eot?#iefix) format("embedded-opentype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone.woff) format("woff"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone.ttf) format("truetype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone.svg#ars_maquette_web_oneregular) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: arsMaquetteProitalic;
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone-italic.eot);
  src: url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone-italic.eot?#iefix) format("embedded-opentype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone-italic.woff) format("woff"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone-italic.ttf) format("truetype"),url(/_ui/desktop/common/bobs/fonts/ars-maquette/arsmaquettewebone-italic.svg#ars_maquette_web_oneitalic) format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: icomoon;
  src: url(/_ui/desktop/common/bobs/fonts/icon-fonts/icomoon.eot);
  src: url(/_ui/desktop/common/bobs/fonts/icon-fonts/icomoon.eot?#iefix) format("embedded-opentype"),url(/_ui/desktop/common/bobs/fonts/icon-fonts/icomoon.woff) format("woff"),url(/_ui/desktop/common/bobs/fonts/icon-fonts/icomoon.ttf) format("truetype"),url(/_ui/desktop/common/bobs/fonts/icon-fonts/icomoon.svg#ars_maquette_web_oneitalic) format("svg");
  font-weight: 400;
  font-display: swap
}
